body {
  background: url('https://wallpaperplay.com/walls/full/c/d/0/182793.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
